<!DOCTYPE html>
<html>
<head>
  <title>Lista de Usuarios</title>
</head>
<body>
  <h1>Lista de usuarios:</h1>
  <ul>
  <% users.forEach(user => { %>
    <li>
      <span>ID: <%= user.id %></span>
      <span>Name: <%= user.name %></span>
      <span>Email: <%= user.email %></span>
    </li>
  <% }) %>
</ul>

</body>
</html>
